.lessonCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0.8rem;
    border-radius: 1rem;
    width: 100%;
}

.lessonTitle {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

.name {
    font-size: 1.1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.lessonData {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.91);
}

@media (min-width: 1024px) {
    .name {
        font-size: 0.9rem;
    }

    .lessonCardWrapper {
        box-shadow: 0 2px 3px #d1d0d0;
    }
}