.lessonCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0.8rem;
    border-radius: 1rem;
    width: 100%;
}

.lessonTitle {
    font-size: 1.1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.studentName {
    font-size: 1rem;
    color: #FFFFFF !important;
}

.lessonData {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.91);
}