.studentsListPageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 1rem;
    min-height: 100vh;
    padding: 1rem;
}

.studentsCount {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 1rem;
    box-shadow: 0 0 1px #d5d5d5;
    font-size: 1.2rem;
    font-weight: 400;
    color: #72757b;
    margin-bottom: 1rem;
}

.totalStudentsCount, .activeStudentsCount {
    font-size: 1.5rem;
    color: #000000;
}

.studentsListContainer {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    height: auto;
    padding: 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 1rem;
    box-shadow: 0 0 1px #d5d5d5;
    color: #72757b;
}

.studentsListTitle {
    align-self: flex-start;
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.studentsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    width: 100%;
    align-items: start;
    justify-content: start;
}

@media (min-width: 1024px){
    .studentsListPageContainer {
        padding: 1rem 10rem;
    }

    .aside {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}


