.user-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #EAEAEA;
    border-radius: 1rem;
    padding: 1em;
    box-shadow: 0 0 5px #d5d5d5;
    height: 60%;
    gap: 0.5em;
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
}

.avatar-input{
    display: none;
}

.avatar-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

dt{
    color: #515151;
}

.main-title { font-size: 1.2rem; color: #000000}
dt { font-size: 0.9rem; }
dd { font-size: 1rem; }

.role{
    font-size: 1rem;
    font-weight: 400;
    color: #515151;
}

.edit-avatar-btn:hover{
    background-color: #EAEAEA;
}

.account-info {
    align-self: start;
    text-align: start;
    margin-top: 1rem;
}

@media (min-width: 1040px){
    .user-info{
        grid-row: 1;
        grid-column: 1;
        height: auto;
        align-self: start;
        margin-bottom: 1rem;
    }
}
