.btn {
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 1px solid #EAEAEA;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

.confirmBtn {
    background: #000000;
    color: #FFFFFF;
}