.studentLessonCardPreview {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 0.7rem;
    row-gap: 0.7rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 1rem;
    box-shadow: 0 0 5px #EAEAEA;
    background-color: #FFFFFF;
}

.teachersAvatar {
    grid-column: 1;
    grid-row: 1 / 2;
    width: 3rem;
    height: 3rem;
}

.lessonPaymentButton {
    background: #000000;
    color: #FFFFFF;
    font-size: 0.9rem;
    width: 5rem;
}

.paidLesson {
    padding: 0.1rem 0.5rem;
    background: #e7f4ec;
    font-size: 1rem;
    font-weight: 700;
    color: #1f9c56;
    text-align: center;
    border-radius: 1rem;
    width: 5rem;
}

.lessonPaymentButton, .paidLesson {
    grid-row: 3;
    grid-column: 3;
}

.lessonMarker {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

.lessonTopic {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: start;
    gap: 0.5rem;
    grid-column: 2 / -1;
    grid-row: 1;
    font-size: 1rem;
    font-weight: 500;
}

.lessonDate {
    grid-column: 2 / -1;
    grid-row: 1;
    align-self: end;
    font-size: 0.8rem;
    font-weight: 500;
    color: #878787;
}

.lessonPrice {
    grid-column: 1;
    grid-row: 3;
    align-self: center;
    font-size: 1.1rem;
    font-weight: 800;
}

.separator {
    grid-column: 1 / -1;
    grid-row: 2;
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid #EAEAEA;
}