.lessonTopic, .beginTime {
    font-size: 1.1rem;
    font-weight: 400;
}

.lessonDurationAndPrice {
    font-size: 0.9rem;
    color: #72757b;
}

.previewName {
    font-size: 1rem;
    font-weight: 400;
    color: #72757b
}