.studentCard {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 1rem;
    width: 100%;
    background: rgba(160, 160, 161, 0.26);
}

.viewProfileButton {
    background: #000000;
    color: #FFFFFF;
    align-self: center;
    justify-self: flex-end;
    padding: 0.5rem 1rem;
    width: auto;
}

.studentInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.studentAvatar {
    width: 4rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.studentName {
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.studentEmail {
    font-size: 0.8rem;
}