.main-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.info-tab {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab-switch-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    width: 100%;
}

.switch-tab-button {
    border: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #d5d5d5;
}

.switch-tab-button:hover {
    background-color: #EAEAEA;
}

@media (min-width: 1024px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        row-gap: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: start;
    }

    .tab-switch-buttons {
        height: auto;
        margin: 0;
        grid-row: 1;
        grid-column: 2;
        align-self: start;
    }

    .info-tab {
        grid-row: 1 / 3;
    }
}
