.createLessonWindow {
    top: 10% !important;
}

.newLessonTitle {
    align-self: start;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.selects {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.cancel {
    margin-bottom: 2rem;
}
