.menu, .menu-list{
    width: 100%;
}

.link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0 1rem;
    border: none;
    border-radius: 0.5rem;
}

.link-wrapper:hover {
    background-color: #EAEAEA;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: start;
    justify-content: start;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    list-style: none;
}

.link:hover {
    background-color: #EAEAEA;
}

.link-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

.active-link {
    background-color: #000000;
    color: #FFFFFF;
}

.active-link.icon {
    color: #FFFFFF;
}

@media (min-width: 1024px) {
    .link-wrapper {
        width: auto;
    }

    .link {
        width: auto;
        height: auto;
        background: transparent !important;
    }
}