.searchField {
    width: 100%;
    height: 3rem !important;
    margin: 0 !important;
    border: 1px solid #EAEAEA;
    border-radius: 1rem !important;
    padding-left: 2.5rem !important;
    background: #FFFFFF !important;
    color: #878787 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    transition: box-shadow 0.2s ease-in-out;
}

.searchField:hover {
    box-shadow: 0 2px 5px #d1d0d0;
}

.searchField:focus {
    outline: none;
}

.searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.75rem;
    color: #878787;
    width: 2rem;
    height: 2rem;
}

.searchWrapper {
    position: relative;
}

.searchDropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    z-index: 10;
    overflow: hidden;
}

.searchItem {
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.searchItem:hover {
    background: #f5f5f5;
}

.studentUsername {
    color: #72757b;
}
