.change-password{
    display: flex;
    opacity: 1;
    transition: display 0.4s allow-discrete,
    opacity 0.4s ease;

    z-index: 9999;
    position: fixed;
    top: 20%;
    left: 5%;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90vw;
    max-width: 400px;
    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 1rem;

    @starting-style {
        opacity: 0;
    }
}

.change-password-title{
    align-self: start;
    margin: 0.5rem;
    font-weight: 600;
}

.password-btns{
    margin: 1rem 0;
    gap: 1rem;
}